[submodule "ansible-lighthouse/roles/elasticsearch"]
	path = ansible-lighthouse/roles/elasticsearch
	url = https://github.com/elastic/ansible-elasticsearch
[submodule "ansible-lighthouse/roles/geerlingguy.nodejs"]
	path = ansible-lighthouse/roles/geerlingguy.nodejs
	url = https://github.com/geerlingguy/ansible-role-nodejs
[submodule "ansible-lighthouse/roles/yarn"]
	path = ansible-lighthouse/roles/yarn
	url = https://github.com/Oefenweb/ansible-yarn
[submodule "ansible-lighthouse/roles/bobbyrenwick.pip"]
	path = ansible-lighthouse/roles/bobbyrenwick.pip
	url = https://github.com/bobbyrenwick/ansible-pip.git
